/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-text-color: #F1B2CE;
  --main-background-color: #000028;
  --background-image: url("/images/cover-image-dark.png");

  --title-main-color: #DB00FF;
  --accent-color: #FF0070;

  --title-decor-style1-color: #000028;
  --title-decor-style1-background-color: #FF0070;
  --title-decor-style2-color: #FF0070;
  --title-decor-style2-background-color: transparent;

  --border-decor-color: 1px solid var(--accent-color);
  --button-nav-color: var(--accent-color);
  --button-nav-color-hover: rgb(255 0 112 / 0.4);
}

@media (prefers-color-scheme: dark) {

  :root {
    --main-text-color: #F1B2CE;
    --main-background-color: #000028;
    --background-image: url("/images/cover-image-dark.png");

    --title-main-color: #DB00FF;
    --accent-color: #FF0070;

    --title-decor-style1-color: #000028;
    --title-decor-style1-background-color: #FF0070;
    --title-decor-style2-color: #FF0070;
    --title-decor-style2-background-color: transparent;

    --border-decor-color: 1px solid var(--accent-color);
    --button-nav-color: var(--accent-color);
    --button-nav-color-hover: rgb(255 0 112 / 0.4);
  }
}