/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-text-color: #353430;
  --main-background-color: #FFF1F7;
  --background-image: url("/images/cover-image-light.png");

  --title-decor-main-color: #FFC2E6;
  --accent-color: #FF8DCB;

  --title-decor-fill-color: var(--main-text-color);
  --title-decor-fill-bg: #FF8DCB;
  --title-decor-accent-color: var(--main-text-color);
  --title-decor-clear-bg: transparent;

  --border-decor-color: 1px solid var(--main-text-color);
  --button-nav-color: var(--main-text-color);
  --button-nav-color-hover: rgb(50 49 45 / 0.4);
}

.theme-light .decor-lamp {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --main-text-color: #353430;
    --main-background-color: #FFF1F7;
    --background-image: url("/images/cover-image-light.png");

    --title-decor-main-color: #FFC2E6;
    --accent-color: #FF8DCB;

    --title-decor-fill-color: var(--main-text-color);
    --title-decor-fill-bg: #FF8DCB;
    --title-decor-accent-color: var(--main-text-color);
    --title-decor-clear-bg: transparent;

    --border-decor-color: 1px solid var(--main-text-color);
    --button-nav-color: var(--main-text-color);
    --button-nav-color-hover: rgb(50 49 45 / 0.4);
  }

  .decor-lamp {
    display: none;
  }
}