/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-inline: 10px;
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  line-height: 23.4px;
}

.header {
  height: 100vh;
  display: grid;
  align-content: start;
  grid-template-rows: 1fr auto 1fr;
  margin-block-end: 40px;
}

.footer {
  min-height: 100vh;
}

.title-decor-style1 {
  font-weight: bold;
  font-size: 18px;
  color: var(--title-decor-style1-color);
  background-color: var(--title-decor-style1-background-color);
  margin-block-end: 10px;
}

.decor-camera-right {
  width: 25px;
  height: 25px;
  border-inline-end: var(--border-decor-color);
  border-block-start: var(--border-decor-color);
  justify-self: end;
  margin-block-start: 10px;
}

.decor-camera-left {
  width: 25px;
  height: 25px;
  border-inline-start: var(--border-decor-color);
  border-block-end: var(--border-decor-color);
  justify-self: start;
  align-self: end;
  margin-block-end: 10px;
}

.decor-lamp {
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  justify-self: end;
}

.decor-lamp__circle {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 39px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: 18px;
  color: var(--button-nav-color);
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-nav-color-hover);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-block-end: 1px solid var(--button-nav-color);
}

.header__theme-menu-button:disabled {
  border: 1px solid var(--button-nav-color);
}

.decor-title {
  font-size: 116px;
  line-height: 82.5%;
  color: var(--title-main-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: 68px;
}

.header-text {
  margin-block-start: 55px;
  margin-block-end: 0;
}

.text-link {
  text-decoration: none;
  text-shadow: 1px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.text-link:focus {
  border: none;
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.title-decor-style1 {
  font-weight: bold;
  font-size: 18px;
  color: var(--title-decor-style1-color);
  background-color: var(--title-decor-style1-background-color);
  margin-block-end: 10px;
}

.title-decor-style2 {
  font-weight: bold;
  font-size: 18px;
  color: var(--title-decor-style2-color);
  background-color: var(--title-decor-style2-background-color);
  margin-block-end: 20px;
}

.title-decor-style3 {
  font-weight: normal;
  font-size: 18px;
  color: var(--title-decor-style1-color);
  background-color: var(--title-decor-style1-background-color);
  margin-block-end: 10px;
}

.section-how-to-improve-concentration__title {
  margin-block-end: 19px;
}

.section-how-to-improve-concentration__list-title {
  margin-block-end: 20px;
}

.section-article {
  margin-block-end: 50px;
}

.section-article p {
  margin-block-end: 20px;
}

.section-gallery__picture {
  width: 100%;
  margin-block-end: 10px;
  display: block;
}

.section-gallery__title {
  grid-column: 1 / -1;
  margin-block-end: 10px;
}


@media (width >=768px) {

  /* Планшет */
  .text-link {
    text-shadow: 2px 1px var(--accent-color);
  }

  .section-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .section-hard-to-concentrate__title {
    grid-column: 1 / 2;
  }

  .section-hard-to-concentrate__text-block {
    grid-column: 2 / 4;
  }

  .section-what-lowers-concentration__title {
    grid-column: 1 / 4;
  }

  .section-what-lowers-concentration__text-block {
    grid-column: 1 / 4;
  }

  .section-how-to-improve-concentration__title {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .section-how-to-improve-concentration__list-title {
    grid-column: 2 / 4;
  }

  .section-how-to-improve-concentration__text-block {
    grid-column: 2 / 4;
  }

  .section-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
  }

  .section-gallery__picture {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    object-fit: cover;
  }

  .section-gallery__title {
    grid-column: 1 / -1;
    margin: 0;
  }

  .section-gallery img:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .section-gallery img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: span 2;
  }

  .section-gallery img:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / 6;
  }

  .section-gallery img:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .section-gallery img:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (width >=1024px) {

  /* ПК */
  .text-link {
    text-shadow: 3px 2px var(--accent-color);
  }

  .section-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .section-hard-to-concentrate__title {
    grid-column: 1 / 2;
  }

  .section-hard-to-concentrate__text-block {
    grid-column: 2 / 4;
  }

  .section-what-lowers-concentration__title {
    grid-column: 1 / 4;
  }

  .section-what-lowers-concentration__text-block {
    grid-column: auto;
  }

  .section-how-to-improve-concentration__title {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .section-how-to-improve-concentration__list-title {
    grid-column: 2 / 4;
  }

  .section-how-to-improve-concentration__text-block {
    grid-column: 2 / 4;
  }
}