/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-text-color: ;
  --main-background-color: ;
  --background-image: ;

  --title-main-color: ;
  --accent-color: ;
  
  --title-decor-style1-color: ;
  --title-decor-style1-background-color: ;
  
  --title-decor-style2-color: ;
  --title-decor-style2-background-color: ;

  --border-decor-color: ;
  --button-nav-color: ;
  --button-nav-color-hover: ;
}
